.add-new{

  .container{
    position: relative;
  }

  span{
    font-family: 'Arvo', Arial;
    font-weight:bold;
    font-size:18px;
    pointer-events: none;
    height:0;
    position: fixed;
    bottom: -100%;
    padding:40px 0;
    width: 100%;
    background: $green;
    left: 0;
    transition: all ease .3s;
  }
}
.add-new:hover span{
  bottom: 0;
  height: auto;
}
.add-new_btn{
  display: block;
  position: fixed;
  bottom: 20px;
  width: 60px;
  height: 60px;
  right: 20px;
  padding: 16px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 65px;
  line-height: 27px;
  color: #25384b;
  transition: all ease .3s;
  cursor: pointer;
  box-shadow: 0px 0px 100px $dark-grey;

  &:hover{
    text-decoration: none;
    transform: rotate(90deg);
    color: #25384b;
  }
}
.add-new_info{
  height: calc(100vh - 207px);
  width: calc(50% - 88px);
  left: 50%;
  position: fixed;
  border-left: 5px dashed $green;
  display: block;
  border-bottom: 5px dashed $green;

  &:after{
    content: "";
    width: 85px;
    height: 85px;
    border: 5px dashed $green;
    display: block;
    border-radius: 50%;
    right: 7.5px;
    bottom: 7.5px;
    position: fixed;
  }
}
