nav{
  font-family: 'Arvo', Arial;
}


.navbar-default {
  background-color: $dark-grey;

  .navbar-toggle{
    position: absolute;
    right: 20px;
    top: 18px;
    border: 0;
    padding: 0;
    margin: 0;

    .icon-bar{
      background-color: #fff;
      width: 25px;
      transition: all ease .3s;
      left: 50%;
      transform: translateX(-50%);
      position: relative;

      &:nth-child(3){
        margin-top: -2px;
      }
    }

    &:hover,
    &:focus {
      background-color: transparent;
    }
    &:not(.collapsed){
      .icon-bar{
        &:nth-child(1),
        &:nth-child(4){
          width:0;
        }
        &:nth-child(2){
          transform: rotate(-45deg);
          left:0;
        }
        &:nth-child(3){
          transform: rotate(45deg);
          left:0;
        }
      }
    }
  }

  .navbar-nav {
    > li > a {
      color: #fff;

      &:hover,
      &:focus {
        color: $green;
      }
    }
    > .open {

      > a,
      > a:hover,
      > a:focus {
        background-color: $grey;
        color: #fff;
      }
    }
    .dropdown .dropdown-menu{
      border: 0;
      background-color: $grey;

      > li > a{
        color: #fff;

        &:hover{
          color: #fff;
          background-color: $dark-grey;
        }
      }
    }
  }
  .navbar-brand {
    color: #fff;

    span {
      color: $green;
    }

    &:hover,
    &:hover span,
    &:focus,
    &:focus span{
      color: #fff;
    }

  }
}
