
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #8cefc7;
$brand-warning: #cbb956;
$brand-danger: #ffb497  ;

// Primary colors
$green: #1abc9c;
$dark-green: #189072;
$pink: #9b59b6;
$dark-pink: #7a3f91;
$blue: #3498db;
$dark-blue: #2980b9;
$grey: #34495e;
$dark-grey: #25384b;

// Special colors:
$white-opacity: rgba(#fff, 0.1);

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
